{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
{{block.super}}
<div class="container"><br><br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <img class="rounded-circle account-img" src="{{user.profile.profile_photo.url}}" style="width:80px; height:80px;">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <p class="text-secondary">{{ user.profile.bio }}</p>
        </div>
        <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'update' %}">Update Profile Details</a>
        </small>
        </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        {% for tutorial in tutorials %}
        <div class="col-md-4 mt-4">
            <div class="card zoom" id="cardoffwhite">
                <a href="{% url 'tutorial' tutorial.id %}"><img src="{{tutorial.tutorial_image.url}}" style="width:100%;height:56%;" class="img-responsive" alt="Image"></a><br><hr>
                <div class="card-body">
                    <p><strong>Title:</strong> {{tutorial.title}}</p>
                    <p><strong>Description:</strong> {{tutorial.description|truncatechars:50}}</p>
                    <p><a target="_blank" href="{{tutorial.link}}">Link to Tutorial</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
     </div>
</div><br><br><br><br><br><br>
{% endblock %}